@media print {
  .container {
    width: auto;
  }
}

@media (min-width: 576px) {
  div.duration, div.level {
    text-align: right;
    margin-top: 4px;
  }
}

@media (max-width: 575.98px) {
  #info div[class^="col"] {
    margin-bottom: 0.5rem;
  }
}

html {
  font-size: 13px;
}

h1 {
  margin-bottom: 20px;
}

h3 {
  font-size: 1.4rem;
}

h3 > small {
  font-size: 70%;
  color: #888888;
  font-weight: 600;
}

.container {
  margin-top: 25px;
}

#description {
  margin-bottom: 20px;
}

#description h6 {
  font-weight: normal;
}

#info i {
  margin-right: 5px;
}

#experience, #education, #languages {
  margin-bottom: 20px;
}

#languages > hr:not(:first-of-type) {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
}
